@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

html {
  /* font-size: 10px; */
  /* 10px / 16px  = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  font-family: 'Press Start 2P', sans-serif;
  letter-spacing: 1.8px;
  word-spacing: -5px;
}

body {
  background: rgb(255, 203, 5);
  background: radial-gradient(
    circle,
    rgba(255, 203, 5, 1) 0%,
    rgba(151, 161, 94, 1) 27%,
    rgba(43, 117, 187, 1) 81%
  );
  /* background-repeat: no-repeat; */
  background-size: contain;
  height: 100%;
}

/* HEADER TITLE */

.container {
  margin: 0 auto;
  width: 90%;
}

.header-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.header-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header-title--pikachu {
  background: url('/assets/3DS - Pokemon Battle Trozei Pokemon Link Battle - Pokemon 1st Generation.png')
    no-repeat -9px -270px;
  width: 110px;
  height: 100px;
}

.header-title--image {
  display: block;
  width: 35rem;
  height: auto;
  margin-bottom: 1.4rem;
}

.header-title--subtitle {
  font-size: 2.4rem;
  color: #ffcb05;
  -webkit-text-stroke: 2px #2b75bb;
}

/* POKEMON LIST & DETAILS */
.title-pokemon-list {
  width: auto;
}
.pokemon-list-details {
  display: flex;
  gap: 2%;
  padding: 1rem 0;
  margin: 3rem auto;
}

/* POKEMON LIST */
.pokemon-log {
  width: 100%;
  text-align: center;
}

.pokemon-log--title {
  font-size: 2.4rem;
  margin-bottom: 1.2rem;
}

.pokemon-log--search {
  margin-bottom: 1.6rem;
}

.search-box,
.search-button {
  font-family: inherit;
  padding: 1rem 1.3rem;
  border-radius: 3px;
  border: 2px solid #2b75bb;
}

.search-button {
  background-color: #ffcb05;
  transition: transform ease-out 0.7s, background-color ease-in 0.2s;
}

.search-button:active {
  transform: translateY(-1rem);
  background-color: #b49000;
}

.pokemon-details {
  width: 35%;
  text-align: center;
}

.pokemon-log--group {
  list-style: none;
  padding: 1.5rem 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem 3rem;
  height: auto;
  border: 2px solid black;
  height: auto;
  background: #f15050;
}

.pokemon-list {
  width: auto;
  height: 15rem;
  background-color: rgb(179, 217, 243);
  border-radius: 3px;
  border: 3px solid #999;
  padding: 1.5rem;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pokemon-list--number {
  position: absolute;
  font-size: 1.4rem;
  left: 10px;
  top: 10px;
}

.pokemon-list--image {
  /* background-color: white; */
  width: 10rem;
  height: auto;
  /* border-radius: 50%; */
  /* padding: 1rem; */
}

.pokemon-list--name {
  font-size: 1.4rem;
  text-transform: capitalize;
}
