@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

html {
  /* font-size: 10px; */
  /* 10px / 16px  = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  font-family: 'Press Start 2P', sans-serif;
  letter-spacing: 1.8px;
  word-spacing: -5px;
}

body {
  /* background: rgb(255, 203, 5);
  background: radial-gradient(
    circle,
    rgba(255, 203, 5, 1) 0%,
    rgba(151, 161, 94, 1) 27%,
    rgba(43, 117, 187, 1) 81%
  ); */
  background-color: rgb(163, 163, 163);
  /* background-repeat: no-repeat; */
  background-size: contain;
  width: 100%;
  height: 100%;
}

/* HEADER TITLE */

.container {
  margin: 0 auto;
  width: 90%;
}

.header-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.header-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header-title--pikachu {
  background: url('/assets/3DS - Pokemon Battle Trozei Pokemon Link Battle - Pokemon 1st Generation.png')
    no-repeat -9px -270px;
  width: 110px;
  height: 100px;
}

.header-title--image {
  display: block;
  width: 35rem;
  height: auto;
  margin-bottom: 1.4rem;
}

.header-title--subtitle {
  font-size: 2.4rem;
  color: #ffcb05;
  -webkit-text-stroke: 2px #2b75bb;
}

/* POKEMON LIST & DETAILS */
.title-pokemon-list {
  width: auto;
}
.pokemon-list-details {
  display: flex;
  gap: 2%;
  padding: 1rem 0;
  margin: 3rem auto;
}

/* POKEMON LIST */
.pokemon-log {
  max-width: 100%;
  text-align: center;
}

.subsection-title {
  font-size: 2.4rem;
  margin-bottom: 1.2rem;
}

.pokemon-log--search {
  margin-bottom: 1.6rem;
}

.search-box,
.search-button {
  font-family: inherit;
  padding: 1rem 1.3rem;
  border-radius: 0.8rem;
  border: 2px solid #2b75bb;
}

.search-button {
  background-color: #ffcb05;
  transition: transform ease-out 0.7s, background-color ease-in 0.2s;
}

.search-button:active {
  transform: translateY(-1rem);
  background-color: #b49000;
}

.pokemon-log--group {
  list-style: none;
  padding: 1.5rem 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem 3rem;
  border: 4px outset #999;
  border-radius: 0.8rem;
  background: #f15050;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 52rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.pokemon-log--group::-webkit-scrollbar {
  width: 1rem;
}

.pokemon-log--group::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f15050;
}

.pokemon-log--group::-webkit-scrollbar-thumb {
  background-color: #e42f2f;
}

.pokemon-list {
  width: auto;
  height: 15rem;
  background-color: #b3d9f3;
  border-radius: 3px;
  border: 3px solid #999;
  padding: 1.5rem;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.pokemon-list--number {
  position: absolute;
  font-size: 1rem;
  letter-spacing: 1px;
  left: 5px;
  top: 10px;
}

.pokemon-list--image {
  /* background-color: white; */
  width: 10rem;
  height: auto;
  /* border-radius: 50%; */
  /* padding: 1rem; */
}

.pokemon-list--name {
  font-size: 1.2rem;
  text-transform: capitalize;
}

/* POKEMON DETAILS */
.pokemon-details {
  width: 35%;
  text-align: center;
}

.pokemon-details__data {
  background-color: #f8db65;
  border: 4px outset #999;
  border-radius: 0.8rem;
  height: auto;
  padding: 2rem 2.5rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.pokemon-details__screen {
  background-color: #b3d9f3;
  padding: 1rem;
  border-radius: 3px;
  border: 3px solid #999;
}

.pokemon-details__id {
  display: flex;
  justify-content: space-between;
  border-bottom: 3px ridge #999;
  padding: 0 1rem 0.5rem 1rem;
}

.pokemon-details__picture {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  border-bottom: 3px ridge #999;
  padding: 1.5rem 0;
}

.front-picture__image {
  background: url('/assets/3DS - Pokemon Battle Trozei Pokemon Link Battle - Pokemon 1st Generation.png')
    no-repeat -531px -143px;
  width: 90px;
  height: 97px;
  transform: scale(0.7);
}

.back-picture__image {
  background: url('/assets/3DS - Pokemon Battle Trozei Pokemon Link Battle - Pokemon 1st Generation.png')
    no-repeat -654px -138px;
  width: 99px;
  height: 107px;
  transform: scale(0.7);
}

.front-image-poke,
.back-image-poke {
  width: 100%;
}

.front-picture,
.back-picture {
  display: flex;
  flex-direction: column;
  /* align-content: space-between; */
  height: auto;
}

.layout-data-list {
  display: flex;
  flex-direction: row;
  padding: 0.7rem 1rem;
  margin: 0 0.5rem;
  border-bottom: 1px solid #999;
}
.pokemon-details__name {
  justify-content: space-between;
}

.details-name__value {
  font-size: 1.6rem;
  padding-top: 1rem;
  text-transform: capitalize;
}

.pokemon-details__types {
  justify-content: space-between;
}

.details-types__value {
  font-size: 1rem;
  padding-top: 1rem;
}

.details-status__name {
  margin-bottom: 1rem;
}

/* POKEMON STATUS */
.pokemon-details__status {
  flex-direction: column;
}

.details-status__name {
  align-self: flex-start;
}

.details-status__value {
  display: flex;
  padding: 0 2.5rem;
  flex-direction: column;
  list-style: none;
  /* gap: 0.5rem; */
}

.status-list {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0.2rem;
}

.status-list:nth-child(odd) {
  background-color: #74bef0;
}

.status-list__name {
  /* border: 1px solid red; */
  width: 10rem;
  text-align: left;
  position: relative;
  text-transform: capitalize;
}

.status-list:first-child > .status-list__name {
  text-transform: uppercase;
}

.status-list__name::after {
  content: ':';
  position: absolute;
  right: 0;
}

.pokemon-details__ability {
  flex-direction: column;
  align-items: flex-start;
}

.details-ability__name {
  margin-bottom: 1rem;
}
.details-ability__value {
  padding-left: 4rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.ability-list {
  text-align: left;
  cursor: pointer;
}

.pokemon-details__move {
  flex-direction: column;
  align-items: flex-start;
}

.details-move__name {
  margin-bottom: 1rem;
}
.details-move__value {
  padding-left: 4rem;
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 0.5rem;
  /* height: 25rem; */
}

.move-list {
  text-align: left;
  cursor: pointer;
}

.details-move__value::-webkit-scrollbar {
  width: 1rem;
}

.details-move__value::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #b3d9f3;
}

.details-move__value::-webkit-scrollbar-thumb {
  background-color: #74bef0;
}

.layout-data-list:last-of-type {
  border-bottom: 3px ridge #999;
  /* margin: 0; */
  padding-bottom: 1rem;
}

/* explanation box */
.explanation {
  background-color: #f8db65;
  padding: 3rem 2rem 1.5rem 2rem;
  width: 40%;
  height: 70vh;
  overflow: auto;
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.6rem;
  border: 3px outset #999;
  border-radius: 0.8rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.explanation__ability-name,
.explanation__move-name {
  font-size: 1.8rem;
  padding-bottom: 0.8rem;
  display: inline-block;
  border-bottom: 2px ridge black;
  margin-bottom: 0.8rem;
  text-transform: capitalize;
}

.explanation__ability-description,
.explanation__move-desc-value {
  font-size: 1.2rem;
  line-height: 2;
  padding-bottom: 2rem;
  margin-bottom: 3rem;
  /* border-bottom: 2px solid black; */
  color: #303030;
}

.explanation__ability-pokemon,
.explanation__move-pokemon {
  font-size: 1.4rem;
  color: #000;
  margin-bottom: 0.8rem;
}

.explanation__ability-pokemon-list,
.explanation__move-pokemon-list {
  font-size: 1.2rem;
  color: #252525;
  margin-bottom: 0.8rem;
  text-transform: capitalize;
  line-height: 2;
}

/* explanation move */
.explanation__move-damage-class {
  display: inline-block;
  text-transform: uppercase;
  font-size: 1.2rem;
  margin-left: -1rem;
}

.explanation__move-row {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  justify-content: space-between;
  border-bottom: 2px ridge #000;
  padding: 0.8rem;
  margin-bottom: 1.2rem;
}

.move-row-list {
  display: flex;
  width: 30rem;
  align-items: center;
}

.explanation__move-type-value {
  font-size: 1rem;
}

.explanation-list {
  width: 11rem;
  position: relative;
}

.explanation-list::after {
  position: absolute;
  content: ':';
  right: 0;
}

.explanation__move-desc-name {
  margin: 2rem 0 1.2rem 0;
  font-size: 1.4rem;
}

.explanation__esc {
  position: absolute;
  font-size: 30px;
  right: 0.5rem;
  top: 0.5rem;
}

.hidden {
  display: none;
}

/* .appear {
  display: block;
} */

.blur-screen {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.459);
  backdrop-filter: blur(2px);
  z-index: 50;
  width: 100%;
  height: 100%;
}
